/*css file for the cart page*/

/*style for the buttons*/
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000; /* Red color */
    color: #fff; /* White text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #cc0000; /* Darker red on hover */
  }