/* CheckoutPage.css */
/*General Styling*/
form {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #f8f8f8; /* Add a light background color */
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px; /* Increase the font size slightly */
    font-weight: bold; /* Make the heading bold */
    color: #333; /* Darker text color */
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    color: #333; /* Darker text color for labels */
  }
  
  input[type="text"],
  input[type="email"], 
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Add a small border radius to the corners of the input fields */
  }
  
  /* Add some hover styles to the input fields for a subtle visual effect */
  input[type="text"]:hover,
  input[type="phone"]:hover,
  input[type="email"]:hover {
    border-color: #999;
  }
  
   /*Layout Specific Styles*/
  .checkout-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
  }
.checkout-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.checkout-flex-item {
    width: 40%;
    padding: 20px;
    border: 1px solid #ddd;
}

.checkout-form {
    flex-grow: 3
}
 
.order-summary {
    margin-bottom: 15px;
  }

  .submit-button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
  }