/* General Styles */
body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 20px; 
}

h2 {
    margin-bottom: 20px;
}

.orders-container {
    width: 100%;
    border: none;
   
}

.orders-list {
   border: none;
    
    width: max-content;
}

/* Order Styles */
.order-item {
    display: grid;
    grid-template-columns: 1fr 2fr;  /* Two-column layout */
    width: max-content;
    grid-gap: 10px; 
    border: 1px solid #ddd; 
    margin-bottom: 20px; 
    padding: 10px;
    flex-grow: 1
}

.order-details { /* New class for order info section */
    display: grid; /* Arranges elements vertically */
    grid-template-columns: 1fr 2fr; /* Stacks elements on top */
    width: 100%;
    grid-gap: 5px; /* Spacing between order details */
    border: none;
    flex-grow: 1;
    
}

.customer-name
.shipping-address
.state
.city {
    order: 0; /* Alight right within the proper container */
}

.order-id {
    font-weight: bold;
}

.items-heading {
    /* Moved to order-items container */
    margin-bottom: 5px;
    font-weight: bold;
    text-align: right; /* Align right within its container */
    color: #0066cc;
}

.order-items-list {
    width: max-content;
    margin-top: 10px;
}

.order-item-detail {
    font-size: 14px; 
    width: max-content;
}

.order-total{
    font-weight: bold;
    color: #20822a;
}
  

  


