/* src/App.css */

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #efefef; /*Setting backgound color of site to light grey / off-white. Only affects the app section of site */
}

body {
  background-color: #efefef; /*Sets the rest of the site outside of the the app section to the same color*/
}

nav {
  display: inline-block; 
  justify-content: space-between; /* Push items to the ends */
  align-items: center; /* Vertically center items */
}

.nav-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin-right: 10px;
}

.cart-link {
  margin-left: 450px;
  display: inline-block;
}

.cart-link span {
  font-weight: bold;
  margin-left: 5px; /* Adjust as needed */
  color: #ff0000; /* Adjust as needed */
}


/*style the links at the top*/
.nav-links li a {
  text-decoration: none;
  color: #333;
  border-bottom: 2px solid transparent; /* Hide the border by default */
}

.nav-links li a:hover {
  border-bottom: 2px solid #333; /* Add border on hover */
}

.home {
  text-align: center;
  margin-top: 50px;
}

.home h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.home p {
  font-size: 18px;
  font-style: italic;
  color: #666;
}

/*styling the button on details home page*/
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000; /* Red color */
  color: #fff; /* White text */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.button:hover {
  background-color: #cc0000; /* Darker red on hover */
}