/* src/App.css */

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

nav {
  display: inline-block; 
  justify-content: space-between; /* Push items to the ends */
  align-items: center; /* Vertically center items */
}

.nav-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin-right: 10px;
}

.cart-link {
  margin-left: 450px;
  display: inline-block;
}


/*style the links*/
.nav-links li a {
  text-decoration: none;
  color: #333;
  border-bottom: 2px solid transparent; /* Hide the border by default */
}

.nav-links li a:hover {
  border-bottom: 2px solid #333; /* Add border on hover */
}

.home {
  text-align: center;
  margin-top: 50px;
}

.home h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.home p {
  font-size: 18px;
  color: #666;
}
